# MaLiang Project
build-MaLiang-Debug/*
build-MaLiang-Release/*
MaLiang_M-Release/*
Release/*
Debug/*
MaLiang/res/*
img/*.md
img/*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
